/* Header.js */
.header-buttons {
  align-items: center;
  border: 3px solid black;
  padding: 4rem;
  background-color: #0eaf0eaa;
  display: flex;
  justify-content: space-between;
}

#home-button {
  padding: 1rem;
  font-size: 20px;
  background-color: #94630e;
}
#create-button {
  padding: 1rem;
  font-size: 20px;
  background-color: #94630e;
}

#browse-button {
  padding: 1rem;
  font-size: 20px;
  background-color: #94630e;
}

#first-button {
  padding: 1rem;
  font-size: 20px;
  background-color: #94630e;
}

.main-body {
  border: 2px solid black;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 5rem;
  padding: 2rem;
  text-align: center;
  background-color: #94630e;
  height: 70vh;
}

#home-pic {
  width: 50%;
}
