/* Header.js */
.header-buttons {
  align-items: center;
  border: 3px solid black;
  padding: 1rem;
  background-color: #ffd6d2;
  display: flex;
  justify-content: space-between;
}

#home-button {
  padding: 1rem;
  font-size: 20px;
  background-color: #8b7a82;
  color: #b4d7ff;
  font-family:cursive
}

/* CatEdit */
.catedit-body{
 background-color: #8b7a82;

}

/* catIndex */
.index-links{
background-color: #8b7a82;
/* border: 2px solid #b6e7b8; */
font-size: 30px;
padding: 3rem;
color: #561558;

}
#create-button {
  padding: 1rem;
  font-size: 20px;
  background-color: #8b7a82;
  color: #f2f2f2;
  font-family:cursive
}

#browse-button {
  padding: 1rem;
  font-size: 20px;
  background-color: #8b7a82;
  color: #b6e7b8;
  font-family:cursive
}

#first-button {
  padding: 1rem;
  font-size: 20px;
  background-color: #8b7a82;
}

.main-body {
  /* border: 2px solid black;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 5rem;
  padding: 2rem; */
  text-align: center;
  background-color: #8b7a82;
  /* height: 70vh; */
  font-family:cursive
}

#home-pic {
  width: 50%;
}
/* footer */

.footer {
background-color: #ffd6d2;
/* padding: 1rem; */
/* margin-bottom: 5rem; */
}